<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616494959095-3h5e8l6bqch6c6pp8jo799ufslobblfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616494959095-3h5e8l6bqch6c6pp8jo799ufslobblfi</string>
	<key>API_KEY</key>
	<string>AIzaSyBxKn49IC7DmVIPkJ8tHe9KEkReYzMFUfo</string>
	<key>GCM_SENDER_ID</key>
	<string>616494959095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>care.nui.interview</string>
	<key>PROJECT_ID</key>
	<string>nui-testchallenge</string>
	<key>STORAGE_BUCKET</key>
	<string>nui-testchallenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616494959095:ios:5d78a692b042c9f5e806f2</string>
	<key>DATABASE_URL</key>
	<string>https://nui-testchallenge-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>